a, a:hover{
	text-decoration: none;
	color: black;
}

article{
	width: 60%;
}

img{
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 700,
	'GRAD' 0,
	'opsz' 48
}

.vote{
	font-size:large;
}