a,
a:hover {
	text-decoration: none;
	color: black;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*----- Articles -----*/

article {
	width: 50%;
	margin: 25px 0px 50px;
}

.post-continer p{
	font-size: calc(1em + 1vw);
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 700,
		'GRAD' 0,
		'opsz' 48
}

.button-continer > button{
	outline: none;
	padding: 3px 5px 3px;
	margin: 5px;
	border-radius: 5px;
}

.button-continer > .button-upvote{
	border: 1px solid green;
}

.button-continer > .button-comment{
	border: 1px solid black;
}

.button-continer > .button-downvote{
	border: 1px solid red;
}

@media only screen and (max-width: 840px) {
	article {
		width: auto;
		margin: 2rem;
	}
}