a,
a:hover {
	text-decoration: none;
	color: black;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 750px;
	margin: 0 auto;
}

/*----- Articles -----*/

article {
	width: 100%;
	margin: 25px 0px 50px;
}

.post-continer p{
	font-size: calc(1em + 1vw);
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 700,
		'GRAD' 0,
		'opsz' 48
}

.button-container{
	margin: 20px 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 15px;
	padding: 2px 10px 10px;
}

.button-container > button{
	padding: 5px 8px 5px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #aaa;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.button-container > button:hover{
	background-color: #eee;
}

.button-container > .more-options{
	margin-left: auto;
}

.button-container > .dropdown> .dropbtn{
	padding: 5px 5px 5px;
	aspect-ratio: 1/1;
	border-radius: 100%;
	border: 1px solid #aaa;
	background-color: white;
}

@media only screen and (max-width: 840px) {
	article {
		width: auto;
		margin: 2rem;
	}
}