:root {
	--color-white: white;
	--color-black: black;

	--main-color: #A70CF5;
	--main-color-light: #edc9ff;
	--main-color-dark: #7A09B3;
}

*{
	font-family: 'Roboto', sans-serif;
}

#main-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/*----- Post section -----*/

.post {
	width: 50%;
	max-width: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post-content{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	margin: 15px 15px 15px;
	border: 1px solid var(--color-white);
	border-radius: 15px;
}

.post-content > h2 {
	align-self: start;
	font-size: calc(1em + 1vw);
	font-weight: 700;
	margin: 15px 15px 15px;
}

.post-content > img {
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL'1,
		'wght'200,
		'GRAD'0,
		'opsz'48
}

.post-buttons{
	width: 100%;
	display: flex;
	justify-content: space-evenly;

	padding: 15px 0px 15px;
	
}



/*----- Equipment section -----*/
.equipment{
	align-self: start;
	width: 100%;
	
	padding: 10px 15px 10px;
}

.equipment-container{
	margin: 15px 0px 15px;
}

.equipment-title{
	font-size: 2rem;
	font-weight: 600;
}

.equipment-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.equipment-name{
	display: inline-block;
	font-size: 1.75rem;
	margin-left: 10px;
}

/*----- Add comment -----*/

.add-comment-container{
	margin: 15px 0px 15px;
	width: 100%;
}

.form-add-comment{
	width: 100%;
}

textarea{
	padding: 10px;
	width: 100%;
	border: 1px solid var(--color-black);
	resize: none;
	border-radius: 5px;
}

.form-add-comment > button{
	float: right;
	margin: 15px;

	padding: 5px 10px 5px;
	width: fit-content;

	border-radius: 10px;
	border: none;
	background: var(--main-color);
	color: var(--color-white);
	font-size: 1.75rem;
}

.button-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 15px;
	padding: 2px 10px 10px;
	margin: 20px 0px 20px;
}

.button-container > button{
	padding: 5px 8px 5px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #aaa;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.button-container > button:hover{
	background-color: #eee;
}

.button-container > .more-options{
	margin-left: auto;
}

.button-container > .dropdown> .dropbtn{
	padding: 5px 5px 5px;
	aspect-ratio: 1/1;
	border-radius: 100%;
	border: 1px solid #aaa;
	background-color: white;
}

/*----- Comment section -----*/

.comments-container{
	width: 100%;
	border: 1px solid var(--color-black);
	border-radius: 15px;
	padding: 25px;
	margin: 0px 0px 50px;
}

.comment{
	width: 100%;
	margin: 10px 0px 10px;
}

.comment-author{
	display: inline-block;
}

.comment-timestamp{
	color: gray;
	display: inline-block;
}

.comment-text{
	font-size: 1.75rem;
}

/*----- Modal -----*/

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color:rgba(192,192,192,0.5);

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto 15% auto;
	border: 1px solid #888;
	width: 30%; 
	height: 30%;
}

.close{
	margin: 10px;
	color: black;
}

.modal-content > p {
	font-size: calc(2rem);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 50px 20px 0px;
}

.modal-content > div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-top: 50px;

}

.modal-content > div > a {
	font-size: calc(1.5em);
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	padding: 10px 20px 10px;
	border-radius: 25px;
	background-color: var(--main-color);
	color: var(--color-white);
	width: fit-content;
}

.modal-content > div > p {
	font-size: calc(1.3em);
}

.modal-content > div > p > a {
	color: var(--main-color);
}

@media only screen and (max-width: 840px) {
	.post{
		width: 100%;
		padding: 2rem;
	}
}
